<!DOCTYPE html>
<html lang="{{ .Lang }}">
<link rel="stylesheet" href=" {{ "css/smoothproducts.min.css" | absURL }}">
{{ partial "head.html" . }}
<body id="page-top" class="index">
{{ partial "google_tag_manager_after_opening_body_tag.html" }}
{{ partial "messenger_customer_chat_plugin.html" . }}
{{ partial "nav-for-other-page.html" . }}
{{ partial "facebook_sdk.html" . }}
<section id="{{ .Section }}" itemscope itemtype="http://schema.org/Product">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="{{ .Section | urlize | absLangURL }}" class="product-link">
                {{ with (index .Site.Data .Site.Language.Lang).config.params.product.title }}{{ . | markdownify }}{{ end }}
            </a>
            > {{ .Title }}
        </div>
    </div>
    <section id="content" style="padding-top: 2em;">
        <div class="row">
            <div class="col-md-12">
                <h1 itemprop="name">{{ .Title | markdownify }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12 product-viewer">
                <div class="sp-loading"><img src="{{ "img/sp-loading.gif" | absURL }}" alt=""><br>LOADING IMAGES</div>
                <div class="sp-wrap">
                    {{ range .Params.img }}
                        {{ $url := printf "img/product/%s" . }}
                    <a href="{{ $url | absURL }}"><img itemprop="image" src="{{ $url | absURL }}" class="img-responsive" alt="{{ $.Title }}"></a>
                    {{ end }}
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="product-caption" itemscope itemtype="http://schema.org/Offer">
                    <p class="text-current-price single-page-price">
                        <span itemprop="price" content="{{ echoParam .Params "discounted_price" }}">{{ echoParam .Params "discounted_price" }}</span>
                        {{ if isset .Params "discounted_price" }}
                            <span itemprop="priceCurrency" content="{{ i18n "currency" }}">{{ i18n "currency" }}</span>
                        {{ end }}
                        {{ if isset .Params "discounted_percent" }}
                        <span class="text-discount-percent">
                        {{ echoParam .Params "discounted_percent" }}
                        </span>
                        {{ end }}
                    </p>
                    <p>
                        {{ if isset .Params "discounted_price" }}
                        <span class="text-original-price">{{ .Params.price }} {{ i18n "currency" }}</span>
                        {{else if isset .Params "price"}}
                        <span class="text-current-price single-page-price"><span itemprop="price" content="{{ .Params.price }}">{{ .Params.price }}</span> <span itemprop="priceCurrency" content="{{ i18n "currency" }}">{{ i18n "currency" }}</span></span>
                        {{end}}
                    </p>
                </div>
                <div class="product-desc">
                    <span itemprop="description">{{ .Description | markdownify }}</span>
                </div>
                <div><a href="{{ "/promo-order" | absLangURL }}"><button type="button" class="btn btn-default btn-lg btn-number add-to-cart-init-btn init-order-class"
                                                                   id="buyBtn">
                    <span class="">{{ with (index .Site.Data .Site.Language.Lang).config.params.hero.orderButtonText }}{{ . }}{{ end }}</span>
                </button></a></div>
                <br>
                {{ partial "fb_share_button.html" . }}
                {{ partial "zalo_share_button.html" . }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <article class="bg-light-gray product-article">
                    <span itemprop="description">{{ .Content | markdownify }}</span>
                    <p>{{ with (index .Site.Data .Site.Language.Lang).config.params.contentFooter }}{{ . | markdownify }}{{ end }}</p>
                </article>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="fb-comments" data-href="{{ .Permalink }}" data-numposts="10"></div>
            </div>
        </div>
        <br>
        <div class="rơw">
            <div class="col-md-12 text-center">
                TAGGED:
                {{ range .Params.tags }}
                <span>{{ . | upper }}</span>
                {{ end }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">

                {{ range first 1 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
                {{ $.Scratch.Set "has_related" true }}
                {{ end }}

                {{ if $.Scratch.Get "has_related" }}
                {{ i18n "relatedProducts" | upper }}
                <ul>
                    {{ $num_to_show := (index .Site.Data .Site.Language.Lang).config.params.related_product_limit | default 7 }}
                    {{ range first $num_to_show (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
                    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>
        </div>
    </section>

    {{ partial "always-top-order-button.html" . }}
</div>
</section>


{{ if (index .Site.Data .Site.Language.Lang).config.params.footer.enable }}
{{ partial "footer.html" . }}
{{ end }}
{{ partial "js_other_page.html" . }}
{{ partial "zalo_sdk.html" . }}
<script type="text/javascript" src="{{ "js/smoothproducts.min.js"| absURL }}"></script>
<script type="text/javascript">
    /* wait for images to load */
    $(window).on('load', function() {
        $('.sp-wrap').smoothproducts();
    });
</script>
</body>
</html>
