{{ $strKey := string .Params.key }}
{{ $lengthOfKey := len $strKey }}
{{ $start := sub $lengthOfKey 2 }}
{{ $end := $lengthOfKey }}
{{ if not (eq (substr $strKey $start $end) "5g") }}
<div class="col-xs-4 col-md-3 box-item product-box flex-column" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
    {{ if isset .Params "popular_product" }}<div class="close-ribbon"><i class="fa fa-heart" aria-hidden="true"></i></div>{{ end }}
    {{ partial "product-img.html" . }}
    <div class="product-description flex-column">
        <div class="product-caption" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <a href="{{ .URL }}"><h4 itemprop="name">{{ .Title | markdownify }}</h4></a>
        </div>
        <div>
            <div class=" text-price">
                <p class="text-current-price">
                    <span itemprop="price" content="{{ echoParam .Params "discounted_price" }}">{{ echoParam .Params "discounted_price" }}</span>
                    {{ if isset .Params "discounted_price" }}
                    <span itemprop="priceCurrency" content="{{ i18n "currency" }}">{{ i18n "currency" }}</span>
                    {{ end }}
                    {{ if isset .Params "discounted_percent" }}
                    <span class="text-discount-percent">
                    {{ echoParam .Params "discounted_percent" }}
                </span>
                    {{ end }}
                </p>
                <p>
                    {{ if isset .Params "discounted_price" }}
                    <span class="text-original-price">{{ .Params.price }} {{ i18n "currency" }}</span>
                    {{else if isset .Params "price"}}
                    <span class="text-current-price"><span itemprop="price" content="{{ .Params.price }}">{{ .Params.price }}</span> <span itemprop="priceCurrency" content="{{ i18n "currency" }}">{{ i18n "currency" }}</span></span>
                    {{end}}
                </p>
                <p>
                    {{ if isset .Params "promotion_text" }}
                        <span class="text-discount-percent">
                        {{ echoParam .Params "promotion_text" }}
                        </span>
                    {{ end }}
                </p>
            </div>
            {{ if isset .Params "key" }}
            <div class="input-group btn-block">
                <a href="{{ "/promo-order" | absLangURL }}"><button type="button" class="btn btn-default btn-lg btn-number add-to-cart-init-btn init-order-class"
                        id="buyBtn">
                    <span class="">{{ with (index .Site.Data .Site.Language.Lang).config.hero.orderButtonText }}{{ . }}{{ end }}</span>
                </button></a>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
