{{ partial "facebook_sdk.html" . }}

<!--&lt;!&ndash; Your customer chat code &ndash;&gt;-->
<!--<div class="fb-customerchat"-->
     <!--attribution=setup_tool-->
     <!--page_id="272209743202465"-->
     <!--theme_color="#0084ff"-->
     <!--logged_in_greeting="Bạn cần tư vấn/đặt hàng?"-->
     <!--logged_out_greeting="Bạn cần tư vấn/đặt hàng?">-->
<!--</div>-->

<script>
    window.intercomSettings = {
        app_id: "e1j176t2"
    };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/e1j176t2';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
