<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body id="page-top" class="index">
{{ partial "google_tag_manager_after_opening_body_tag.html" }}
{{ partial "messenger_customer_chat_plugin.html" . }}
{{ partial "nav-for-other-page.html" . }}
<section id="{{ .Section }}" itemscope itemtype="http://schema.org/BlogPosting">
    <link itemprop="mainEntityOfPage" href="{{ .RelPermalink | absLangURL }}" />
    <meta itemprop="inLanguage" content="{{ .Lang }}"/>
    <div itemprop="publisher author" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="DalaFarm"/>
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            {{ $logoUrl := printf "img/about/dalafarm.png" }}
            <meta itemprop="image" src="{{ $logoUrl | absLangURL }}" >
            <meta itemprop="url" content="{{ $logoUrl | absLangURL }}">
            <meta itemprop="width" content="192">
            <meta itemprop="height" content="192">
        </div>
    </div>
    <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        {{ $thumnailUrl := printf "img/blog/%s" .Params.thumbnail }}
        <meta itemprop="image" src="{{ $thumnailUrl | absLangURL }}" >
        <meta itemprop="url" content="{{ $thumnailUrl | absLangURL }}">
        <meta itemprop="width" content="400">
        <meta itemprop="height" content="400">
    </div>
    <div class="container blog-section">
        <div class="row">
            <div class="col-md-12">
                <a href="{{ .Section | urlize | absLangURL }}" class="product-link">
                    {{ .Section | humanize }}
                </a>
                > {{ .Title }}
            </div>
        </div>
        <section id="content" style="padding-top: 2em;">
            <div class="row">
                <div class="col-md-12 text-center blog-title-article">
                    <h3 itemprop="name headline">
                        {{ .Title | markdownify}}
                    </h3>
                    <time class="blog-time" datetime="{{ .Date }}" itemprop="datePublished dateModified">
                        {{ $data := index .Site.Data .Site.Language.Lang }}
                        {{ .Date.Day }} {{ index $data.month (printf "%d" .Date.Month) }}, {{ .Date.Year }}
                    </time>&middot;&nbsp;
                    <span class="blog-time">{{ .ReadingTime }} {{ i18n "minuteRead" }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <br/>
                    <article class="blog-article" itemprop="articleBody">
                        {{ .Content | markdownify | emojify}}
                        <p>{{ with (index .Site.Data .Site.Language.Lang).config.params.contentFooter }}{{ . | markdownify }}{{ end }}</p>
                        {{ partial "fb_share_button.html" . }}
                        {{ partial "zalo_share_button.html" . }}
                    </article>
                </div>
                <div class="col-md-1"></div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="fb-comments" data-href="{{ .Permalink }}" data-numposts="10"></div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <br>
            <div class="rơw">
                <div class="col-md-12 text-center">
                    TAGGED:
                    {{ range .Params.tags }}
                    {{ $tagURL := printf "tags/%s" . | lower | relURL }}
                    <a href="{{ $tagURL }}"><span itemprop="keywords">{{ . | upper }}</span></a>
                    {{ end }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">

                    {{ range first 1 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
                    {{ $.Scratch.Set "has_related" true }}
                    {{ end }}

                    {{ if $.Scratch.Get "has_related" }}
                    <strong>{{ i18n "relatedPosts" | upper }}:</strong>
                    <ul style="list-style: none">
                        {{ $num_to_show := (index .Site.Data .Site.Language.Lang).config.params.related_blog_limit | default 5 }}
                        {{ range first $num_to_show (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
                        <li>
                            {{ $url := printf "img/blog/%s" .Params.thumbnail }}
                            <a href="{{ .RelPermalink }}"><img src="{{ $url | absURL }}" class="img-responsive" width="70" style="display: inline-block; margin: 0px 10px 10px 0px;" alt="{{ .Title }}">{{ .Title }} &middot; {{ .ReadingTime }} {{ i18n "minuteRead" }}</a>
                        </li>
                        {{ end }}
                    </ul>
                    {{ end }}
                </div>
                <div class="col-md-1"></div>
            </div>
        </section>

    </div>
</section>
{{ partial "always-top-order-button.html" . }}
{{ if (index .Site.Data .Site.Language.Lang).config.params.footer.enable }}
{{ partial "footer.html" . }}
{{ end }}
{{ partial "js_other_page.html" . }}
{{ partial "zalo_sdk.html" . }}
</body>
</html>
