{{ "<!-- Navigation -->" | safeHTML }}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    {{ partial "announcement.html" . }}

    {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{ if (index .Site.Data .Site.Language.Lang).config.params.navigation.logo }}
        <a class="navbar-brand page-scroll" href="{{ if .IsHome }}#page-top{{ else }}{{ .Site.BaseURL }}{{ end }}">
          {{ $url := printf "img/%s" (index .Site.Data .Site.Language.Lang).config.params.navigation.logo }}
          <img src="{{ $url | absURL }}" class="img-responsive" alt="{{ (index .Site.Data .Site.Language.Lang).config.params.navigation.brand }}">
        </a>
      {{ else }}
        <a class="navbar-brand page-scroll" href="{{ if .IsHome }}#page-top{{ else }}{{ .Site.BaseURL }}{{ end }}">
            {{ with (index .Site.Data .Site.Language.Lang).config.params.navigation.brand }}{{ . }}{{ end }}
        </a>
      {{ end }}

      {{ if or (eq .RelPermalink "/shipping/") (eq .RelPermalink "/confirm/") (eq .RelPermalink "/promo-shipping/") (eq .RelPermalink "/promo-confirm/")}}

      {{ else }}
      <!--<a class="navbar-toggle cta-on-nav" href="{{ "/promo-order" | absLangURL }}" >{{ with (index .Site.Data .Site.Language.Lang).config.params.hero.orderButtonText }}{{ . }}{{ end }}-->
      <!--</a>-->

      <a class="navbar-toggle cta-on-nav" href="{{ "/promo-shipping" | absLangURL }}"><i class="fa fa-shopping-cart fa-3x" style="color: #CEFF44!important;"></i>
      <span data-bind="text: sumAmt" class="cart-items-num"></span>
      </a>

      {{ end }}
    </div>
    {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="{{ if .IsHome }}#page-top{{ else }}{{ .Site.BaseURL }}{{ end }}"></a>
        </li>
          {{ partial "nav-share.html" . }}

      </ul>
    </div>
    {{ "<!-- /.navbar-collapse -->" | safeHTML }}
  </div>
  {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>
