<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body id="page-top" class="index">
{{ partial "google_tag_manager_after_opening_body_tag.html" }}
{{ partial "messenger_customer_chat_plugin.html" . }}
{{ partial "nav-for-other-page.html" . }}
{{ "<!-- terms and conditions Grid Section -->" | safeHTML }}
<section id="{{ .Params.url }}" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ .Title }}</h2>
            </div>
        </div>
        <div class="row">
            <ul class="progressbar">
                <li class="active">Chọn sản phẩm</li>
                <li class="active">Thông tin</li>
                <li class="in-progress">Xác nhận</li>
                <li>Hoàn tất</li>
            </ul>
        </div>
        <div class="row alert alert-info">
            <p class="order-page-content">
                {{ .Content }}
            </p>
        </div>
            {{ partial "order-id.html" . }}
            <div class="row" id="order-content">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title pull-left" style="padding-top: 7.5px;vertical-align: center">Thông tin người mua</h4>
                            <div class="btn-group pull-right">
                                <button id="editDelivery" name="edit" class="btn btn-xxl btn-default btn-block">Sửa</button>
                            </div></div>
                        <div class="panel-body">
                            <p data-bind="text: name"></p>
                            <p data-bind="text: phone1"></p>
                            <p data-bind="text: phone2"></p>
                            <p data-bind="text: email"></p>
                            <p><span data-bind="text: address"></span>, <span data-bind="text: ward"></span>, <span data-bind="text: district"></span>, <span data-bind="text: province"></span></p>
                            <p>Hình thức thanh toán: <span data-bind="text: paymentType"></span></p>
                            <p data-bind="text: additionalNote" style="font-style: italic;" ></p>
                        </div>
                    </div>
                    {{ partial "selected-product-list.html" . }}
                </div>
            </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6 col-xs-12 text-right second-last-btn">
                    <button id="purchaseBtn" name="save" class="btn btn-xxl btn-success btn-block" data-bind="enable: shippingCostLoaded"
                            data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Đang nhập đơn hàng">Hoàn tất
                    </button>
                </div>
                <div class="col-md-3 col-xs-6 text-center">
                    <button id="cancel" name="cancel" class="btn btn-xxl btn-danger btn-block" onclick="window.location = '/';">Hủy
                        đặt hàng
                    </button>
                </div>
                <div class="col-md-3 col-xs-6">
                    <button id="edit" name="edit" class="btn btn-xxl btn-default btn-block">Sửa đơn hàng</button>
                </div>
            </div>
        </div>
    </div>
</section>
{{ if (index .Site.Data .Site.Language.Lang).config.params.footer.enable }}
{{ partial "footer.html" . }}
{{ end }}
{{ partial "js_order_page.html" . }}
<script>
    $(function () {

        var bill = applyPromotion(JSON.parse(sessionStorage.getItem('order')));

        function ViewModel() {
            this.id = bill.id;
            this.date = new Date(bill.meta.date);
            this.name = bill.info.name;
            this.phone1 = bill.info.phone1;
            this.phone2 = bill.info.phone2;
            this.email = bill.info.email;
            this.address = bill.info.address;
            this.province = bill.info.province;
            this.district = bill.info.district;
            this.ward = bill.info.ward;
            this.products = getProductsArrayFromBill(bill);
            this.promotionalProducts = bill.promotionalProducts;
            this.shippingCost = ko.observable(bill.shippingCost || 0);
            this.subtotal = ko.computed(function(){ return bill.subtotal + this.shippingCost();}, this);
            this.paymentType = humanizePaymentType(bill.info.paymentType);
            this.additionalNote = bill.info.additionalNote;
            this.discountPercent = bill.discountPercent;
            this.shippingCostLoaded = ko.observable(false);
            this.shippingVendor = ko.observable();
        }

        // Activates knockout.js
        var viewModel = new ViewModel();
        ko.applyBindings(viewModel);
        dataLayer.push({
            'value': bill.subtotal,
            'transactionShipping': bill.shippingCost,
            'transactionTotal': bill.subtotal,
            'transactionProducts': conformProductsArrayForAnalyticsPurpose(getProductsArrayFromBill(bill)),
            'order-id': bill.id,
            'transactionId': bill.id,
            'currency': 'VND'});

        function getShippingCost() {
            if(bill.freeShip) {
//                if(bill.info.province === "Hồ Chí Minh"){
                    viewModel.shippingCost(0);
//                } else {
//                    viewModel.shippingCost(35000);
//                }
                viewModel.shippingCostLoaded(true);
            }else{
                getShippingCostNUpdateSubtotal(lookupPlaceIdFromName(bill.info.availableDistricts, bill.info.district), shippingCostLoadedCallback, calculateWeightOfPowders(bill));
            }
        }

        function shippingCostLoadedCallback(shippingCost, vendorId) {
            viewModel.shippingCost(shippingCost);
            viewModel.shippingCostLoaded(true);
            viewModel.shippingVendor(vendorId);
        }

        getShippingCost();

        $('#purchaseBtn').on('click', function (e) {
            e.preventDefault();
            if(isEmptyCart(bill)) {
                alert("Bạn không có sản phẩm nào trong đơn hàng. Vui lòng sửa đơn hàng và chọn sản phẩm cần mua trước khi hoàn tất đặt hàng!");
                return;
            }
            $('#purchaseBtn').button('loading');
            saveToDb(bill);
        });
        $('#editDelivery').on('click', function (e) {
            e.preventDefault();
            window.location = "/shipping";
        });
        $('#edit').on('click', function (e) {
            e.preventDefault();
            window.location = "/order";
        });

        function saveToDb(bill) {
            var billFormUI = ko.toJS(viewModel);
            bill.status = "Ordered";
            bill.shippingCost = billFormUI.shippingCost;
            bill.shippingVendor = billFormUI.shippingVendor;
            bill.subtotal = calculateTotalBill(bill);
            bill.products = getProductsArrayFromBill(bill);
            bill.info.districtId = lookupPlaceIdFromName(bill.info.availableDistricts, bill.info.district);
            bill.info.wardId = lookupPlaceIdFromName(bill.info.availableWards, bill.info.ward);
            delete bill.info.availableDistricts;
            delete bill.info.availableProvinces;
            delete bill.info.availableWards;
            sendToApiWebhook(bill);
        }

        function sendToApiWebhook(order){
            var rawWebhookURL = "https://hooks.zapier.com/hooks/catch/2274589/rrshkw/";
            $.ajax({
                type: "POST",
                url: rawWebhookURL,
                data: JSON.stringify(order),
                success: function (res) {
                    console.log(res);
                    sendFullDetailsToWebhook4Excel(order);
                },
                error: function (error) {
                    console.log(error);
                },
                dataType: "json"
            });
        }

        function sendFullDetailsToWebhook4Slack(order) {
            var webhookURL = "https://hooks.zapier.com/hooks/catch/2274589/9cmzdm/";
            var payload = {
                "to": "",
                "name": "",
                "address": "",
                "phone": "",
                "content": "",
                "orderId": ""
            };
            var slackMessageBody = prepareSlackMessageBody(order);
            payload.to = order.info.email;
            payload.orderId = order.id;
            payload.name = order.info.name;
            payload.address = buildAddress(order);
            payload.phone = order.info.phone1;
            payload.content = slackMessageBody;
            $.ajax({
                type: "POST",
                url: webhookURL,
                data: payload,
                success: function (res) {
                    console.log(res);
                },
                error: function (error) {
                    console.log(error);
                },
                dataType: "json"
            });
        }
        function prepareSlackMessageBody(order) {
            var orderContent = "";
            order.products.forEach(function (p) {
                if (p.amount > 0) {
                    orderContent += "•" + humanizeProductName(p.name) + " - " + p.amount + " x " + p.price + " = " + p.subtotal + "\n";
                }
            });
            orderContent += "Phí giao hàng: " + order.shippingCost + "\n" + "Tổng tiền: " + order.subtotal + "\n" + "Cách thanh toán: " + humanizePaymentType(order.info.paymentType);
            return orderContent;
        }

        function sendFullDetailsToWebhook4Excel(order) {
            var webhookURL = "https://hooks.zapier.com/hooks/catch/2274589/906tv0/";
            $.ajax({
                type: "POST",
                url: webhookURL,
                data: order,
                success: function (res) {
                    console.log("Data saved successfully!" + res);
                    sendToSmsWebhook(bill);
                    sendFullDetailsToWebhook4Slack(bill);
                    sendToEmailWebhook(bill);
                },
                error: function (error) {
                    console.log(error);
                    order.error = error;
                    sendOrderErrorToEmailWebhook(order);
                    window.location = "/order-error";
                },
                dataType: "json"
            });
        }

        function getFirstName(name) {
            nameArr = name.trim().split(" ");
            return nameArr && nameArr[nameArr.length - 1];
        }

        function sendToSmsWebhook(order) {
            var webhookURL = "https://hooks.zapier.com/hooks/catch/2274589/9eneca/";
            var payload = {"to": "", "name": "", "from": "32523276", "subtotal": "", "orderId": ""};
            payload.to = order.info.phone1;
            payload.orderId = order.id;
            var firstName = getFirstName(order.info.name);
            payload.name = firstName.isLatin() ? firstName : firstName.latinise();
            payload.subtotal = order.subtotal;
            $.ajax({
                type: "POST",
                url: webhookURL,
                data: payload,
                success: function (res) {
                    console.log(res);
                },
                error: function (error) {
                    console.log(error);
                },
                dataType: "json"
            });
        }

        function sendToEmailWebhook(order) {
            var webhookURL = "https://hooks.zapier.com/hooks/catch/2274589/98r7zl/";
            var payload = {
                "to": "",
                "name": "",
                "address": "",
                "phone": "",
                "from": "info@dalafarm.vn",
                "content": "",
                "orderId": ""
            };
            var htmlBody = prepareBody(order);
            payload.to = order.info.email;
            payload.orderId = order.id;
            payload.name = order.info.name;
            payload.address = buildAddress(order);
            payload.phone = order.info.phone1;
            payload.content = htmlBody;
            $.ajax({
                type: "POST",
                url: webhookURL,
                data: payload,
                success: function (res) {
                    console.log(res);
                    localStorage.setItem('order-' + order.id, JSON.stringify(order));
                    sessionStorage.removeItem('order');
                    window.location = "/thank-you";
                },
                error: function (error) {
                    console.log(error);
                    order.error = error;
                    localStorage.setItem('order-' + order.id, JSON.stringify(order));
                    window.location = "/order-error";
                },
                dataType: "json"
            });
        }

        function buildAddress(order) {
            return order.info.address + ", " + order.info.ward + ", " + order.info.district + ", " + order.info.province;
        }

        function sendOrderErrorToEmailWebhook(order) {
            var webhookURL = "https://hooks.zapier.com/hooks/catch/2274589/98r7zl/";
            var payload = {
                "to": "tom@dalafarm.vn",
                "name": "",
                "address": "",
                "phone": "",
                "from": "info@dalafarm.vn",
                "content": "",
                "orderId": ""
            };
            var htmlBody = prepareBody(order);
            payload.orderId = order.id;
            payload.name = order.info.name;
            payload.address = buildAddress(order);
            payload.phone = order.info.phone1;
            payload.content = "<p>Đơn hàng lỗi: " + order.error + "</p>" + htmlBody;
            $.ajax({
                type: "POST",
                url: webhookURL,
                data: payload,
                success: function (res) {
                    console.log(res);
                    localStorage.setItem('order-' + order.id, JSON.stringify(order));
                    sessionStorage.removeItem('order');
                    window.location = "/thank-you";
                },
                error: function (error) {
                    console.log(error);
                    order.error = error;
                    localStorage.setItem('order-' + order.id, JSON.stringify(order));
                    window.location = "/order-error";
                },
                dataType: "json"
            });
        }

        function prepareBody(order) {
            var head = "";
            var middle = "<table id='content'> <thead> <tr> <th>Tên</th> <th>Số lượng</th> <th>Đơn giá</th> <th>Thành tiền</th> </tr> </thead> <tbody>";
            var orderContent = buildOrderContent(order);
            var shipping = "</tbody> </table> <p>Phí giao hàng: <strong>" + numeral(order.shippingCost).format('0,0') + "</strong></p>";
            var total = "<p>Tổng tiền: <strong>" + numeral(order.subtotal).format('0,0') + "</strong></p>";
            var paymentType = "<p>Hình thức thanh toán: <strong>" + humanizePaymentType(order.info.paymentType) + "</strong></p>";
            var additionalNote = "<p>Ghi chú: <strong>" + order.info.additionalNote + "</strong></p>";
            var footer = "";
            return head + middle + orderContent + shipping + total + paymentType + additionalNote + footer;
        }

        function buildOrderContent(order) {
            var orderContent = "";
            var products = order.products;
            products.forEach(function (p) {
                if (p.amount > 0) {
                    orderContent += "<tr><td>" + humanizeProductName(p.name) + "</td><td>" + p.amount + "</td><td>" + numeral(p.price).format('0,0') + "</td><td>" + numeral(p.subtotal).format('0,0') + "</td></tr>";
                }
            });
            orderContent += buildPromotionalProducts(order);
            return orderContent;
        }

        function buildPromotionalProducts(order) {
            var promotionalProducts = order.promotionalProducts;
            if(promotionalProducts) {
                var content = "<tr>";
                if(promotionalProducts['lotusAmt'] && promotionalProducts['lotusAmt'] > 0) {
                    content += "<td>Bột Hạt Sen (50g) (Khuyến mãi)</td><td>1</td><td>119,000</td><td>-119,000</td>";
                }
                if(promotionalProducts['dalababyAmt'] && promotionalProducts['dalababyAmt'] > 0) {
                    content += "<td>Bột rau củ DalaBaby (70g) (Khuyến mãi)</td><td>1</td><td>199,000</td><td>-199,000</td>";
                }
                if(promotionalProducts['garlicoilAmt'] && promotionalProducts['garlicoilAmt'] > 0) {
                    content += "<td>Dầu tỏi tía Đà Lạt (250ml) (Khuyến mãi)</td><td>1</td><td>150,000</td><td>-150,000</td>";
                }
                if(promotionalProducts['mooncakeAmt'] && promotionalProducts['mooncakeAmt'] > 0) {
                    content += "<td>Hộp bánh trung thu 4 cái (Khuyến mãi)</td><td>" + promotionalProducts['mooncakeAmt'] + "</td><td>170,000</td><td>0</td>";
                }
                content += "</tr>";
                return content;
            }
        }
    });

</script>
</body>
</html>
