<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body id="page-top" class="index">
{{ partial "google_tag_manager_after_opening_body_tag.html" }}
{{ partial "messenger_customer_chat_plugin.html" . }}
{{ partial "nav-for-other-page.html" . }}
{{ "<!-- terms and conditions Grid Section -->" | safeHTML }}
<section id="{{ .Params.url }}" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ .Title }}</h2>
            </div>
        </div>
        {{ .Content }}

    </div>
</section>
{{ if (index .Site.Data .Site.Language.Lang).config.params.footer.enable }}
{{ partial "footer.html" . }}
{{ end }}
{{ partial "js_other_page.html" . }}
</body>
</html>
