<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}
<style>
    /* DivTable.com */
    .divTable{
        display: table;
        width: 100%;
    }
    .divTableRow {
        display: table-row;
    }
    .divTableHeading {
        background-color: #EEE;
        display: table-header-group;
    }
    .divTableCell, .divTableHead {
        border: 1px solid #999999;
        display: table-cell;
        padding: 3px 10px;
    }
    .divTableHeading {
        background-color: #EEE;
        display: table-header-group;
        font-weight: bold;
    }
    .divTableFoot {
        background-color: #EEE;
        display: table-footer-group;
        font-weight: bold;
    }
    .divTableBody {
        display: table-row-group;
    }
</style>
<body id="page-top" class="index">
{{ partial "google_tag_manager_after_opening_body_tag.html" }}
{{ partial "messenger_customer_chat_plugin.html" . }}
{{ partial "nav-for-other-page.html" . }}
{{ "<!-- terms and conditions Grid Section -->" | safeHTML }}
<section id="{{ .Params.url }}" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ .Title }}</h2>
            </div>
        </div>

        <div class="row alert alert-info">
            <p class="order-page-content">
                {{ .Content }}
            </p>
        </div>
        <div class="row">
            <form>
                <div class="form-group row">
                    <label class="col-md-2 control-label" for="orderId">Mã đơn hàng</label>
                    <div class="col-md-10">
                        <input id="orderId" name="orderId" type="text"
                               placeholder="123xyz" class="form-control input-lg">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <button id="openOrderBtn" name="openOrderBtn"
                                class="btn btn-lg btn-block btn-success pull-right"
                                data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Vui lòng đợi...">Nhập
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="divTable" data-bind="visible: orderId">
                <div class="divTableHeading">
                    <div class="divTableRow">
                        <div class="divTableHead">Mã đơn hàng</div>
                        <div class="divTableHead">Trạng thái đơn hàng</div>
                        <div class="divTableHead">Ngày giao hàng dự kiến</div>
                        <div class="divTableHead">Lần cập nhật cuối</div>
                    </div>
                </div>
                <div class="divTableBody">
                    <div class="divTableRow">
                        <div class="divTableCell"><span data-bind="text: orderId"></span></p></div>
                        <div class="divTableCell"><span data-bind="text: statusMessage"></span></div>
                        <div class="divTableCell"><span data-bind="text: estimatedDeliveryTime"></span></div>
                        <div class="divTableCell"><span data-bind="text: lastModifiedDate"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ if (index .Site.Data .Site.Language.Lang).config.params.footer.enable }}
{{ partial "footer.html" . }}
{{ end }}
{{ partial "js_order_page.html" . }}
<script>
    $(function() {
        function ViewModel(){
            this.orderId = ko.observable();
            this.statusMessage = ko.observable();
            this.lastModifiedDate = ko.observable();
            this.estimatedDeliveryTime = ko.observable();
        }

        var viewModel = new ViewModel();
        ko.applyBindings(viewModel);
        $("#openOrderBtn").on('click', function (e) {
            e.preventDefault();
            var orderId = $('#orderId').val();
            if(orderId) {
                $('#openOrderBtn').button('loading');
                $.getJSON(apiBaseURL + '/v1/order/' + orderId + '/status', function (data) {
                    viewModel.orderId(data.orderId);
                    viewModel.statusMessage(data.name);
                    viewModel.lastModifiedDate(data.lastUpdatedDate);
                    viewModel.estimatedDeliveryTime(data.estimatedDeliveryTime);
                }).fail(function (error) {
                    if(error.status == '404') {
                        alert("Mã đơn hàng " + orderId + " không tìm thấy. Vui lòng nhập lại mã.");
                        $('#orderId').val("");
                    }else {
                        alert(JSON.stringify(error));
                    }
                }).always(function () {
                    $('#openOrderBtn').button('reset');
                });
            }else{
                alert("Vui lòng nhập mã đơn hàng.");
            }
        });

    });

</script>

</body>
</html>
